/*!
 * These WOFF/WOFF2 files are provided under the SIL Open Font License version 1.1
 * For more details, see WOFF extended metadata or https://opensource.org/licenses/OFL-1.1
 */
@charset "utf-8";
@font-face {
  font-family: '源暎エムゴ';
  font-weight: 400;
  font-display: block;
  src: url(/fonts/genei-m-gothic/normal/GenEiMGothic2-Regular.woff) format('woff');
}
@font-face {
  font-family: '源暎エムゴ';
  font-weight: 700;
  font-display: block;
  src: url(/fonts/genei-m-gothic/bold/GenEiMGothic2-Bold.woff) format('woff');
}
